.head {
	background-color: lighten($color-main, 5%);
    overflow: hidden;
    position: relative;

	&__t {
		margin: 50px 40px;
		color: #fff;
		
		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
		@media #{$media-md} {
            font-size: 20px;
			margin: 20px 15px;
	    }
	}
	&__menu {
		background-color: $color-main;
		padding: 0 10px;
	    height: 60px;
	    display: flex;
	    justify-content: space-between;
    	align-items: center;

	    @media #{$media-md} {
	        overflow-x: auto;
	        padding: 0;
	    }
	    @media #{$media-sm} {
	    	flex-direction: column;
	    	height: auto;
	    	display: none;
	        padding-top: 14px;
    	}
	}
	&__toogle {
		display: none;
	    width: 40px;
	    height: 30px;
	    position: absolute;
	    top: 17px;
	    right: 10px;
		
		@media #{$media-sm} {
	    	display: block;
    	}
		div {
		    font-size: 23px;
		    text-align: center;
		    line-height: 0.35;
		    font-weight: 700;
		    color: #fff;
		}
	}
	&__toogle-input {
		visibility: hidden;
	    position: absolute;
		left: -100%;
	}

	&__toogle-input:checked + &__menu {
		display: block;
	}
}