$list-item_indent: 25px;

.list {
    margin: 0 (-$list-item_indent);
    overflow: hidden;

    @media #{$media-md} {
        margin: 0;
    }

	&__i {
        padding: 0 $list-item_indent;
    	box-sizing: border-box;
	    width: (100% / 3);
	    float: left;
	    margin-bottom: 30px;
		
		@media #{$media-md} {
	        width: (100% / 2);
	    }
	    @media #{$media-sm} {
            width: 100%;
            float: none;
            padding: 0;
        }
	}
	&__t {
		margin-top: 0;
	}
	&__tx {
		
	}
	&__img {
		
	}
	&__author {
	    margin: 6px 0;
	}
	&__cat {
	    margin: 6px 0;
		    
		a {
			color: #8fb2ce;
			    text-decoration: none;
		}
	}
}
