{% load i18n %}

<section class="list">
{% for book in book_list %}
    <div class="list__i">
        {% if book.id %}
        <a href="{% url 'book:detail' book.slug %}">
            <h3 class="list__t">{{ book.name }}</h3>

            {% if book.image %}
                {% load thumbnail %}
                <img src="{{ book.image|thumbnail_url:'book_cover' }}" alt="image">
            {% endif %}
        </a>
        {% endif %}

        {% if book.author %}
        <div class="list__author">
            {% trans "Автор" noop %}: {{ book.author }}
        </div>
        {% endif %}

        {% if book.category.all %}
        <div class="list__cat">
        {% trans "Категорія" noop %}:

        {% include "library/snippets/category_view.html" with objects=book.category.all part='category:detail' %}
        </div>
        {% endif %}

        {% if book.specialty.all %}
        <div class="list__cat">
        {% trans "Cпеціальність" noop %}:

        {% include "library/snippets/category_view.html" with objects=book.specialty.all part='specialty:detail' %}
        </div>
        {% endif %}

        <p class="list__tx">{{ book.description|striptags|truncatechars:200|safe }}</p>
    </div>

    {% if forloop.counter|divisibleby:settings.ROW_ITEMS_AMOUNT %}
    <div class="clr"></div>
    {% endif %}
{% endfor %}
</section>
