{% extends 'library/base.html' %}

{% block content_body %}
	<h2 class="__t">{{ book.name }}</h2>

    {% if book.image %}
        {% load thumbnail %}
        <img src="{{ book.image|thumbnail_url:'book_cover' }}" alt="" />
    {% endif %}

    <div class="__view">Переглядів: {{ book.hit_count.hits }}</div>

    {% if book.author.all %}
    <div class="__author">
        Автор: 
        {% for author in book.author.all %}
            <span>{{ author }}</span>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if book.category.all %}
    <div class="__cat">
        Категорія: 
        {% for category in book.category.all %}
            <a href="{% url 'category:detail' category.slug %}">{{ category }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if book.specialty.all %}
    <div class="__cat">
        Cпеціальність:
        {% for specialty in book.specialty.all %}
            <a href="{% url 'specialty:detail' specialty.slug %}">{{ specialty }}</a>{% if not loop.last %},{% endif %}
        {% endfor %}
    </div>
    {% endif %}

    {% if download_link %}
    <p>
        <a class="button" href="{{ download_link }}" target="_blank">Завантажити у {{ download_file_type }}</a>
    </p>
    {% endif %}

    <p class="__tx">{{ book.description }}</p>
{% endblock %}
